<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <!-- 全て共通のv-modelを渡す    ラジオボタン -->
        <form action="">
            <p>お使いのUSは</p>
            <label for="windows">Windows</label>
            <input type="checkbox" name="" id="windows" value="windows"  v-model="os">
            
            <label for="linux">linux</label>
            <input type="checkbox" name="" id="linux" value="linux"  v-model="os">
            
            <label for="centos">centos</label>
            <input type="checkbox" name="" id="centos" value="centos"  v-model="os">
            
        </form>
        <p>{{ os }}</p>
    </div>

     <script>
         new Vue({
             el: '#app',
             data() {
                 return {
                    os: [],
                 }
             },
             computed: {
  
             },
             /*
             「ウォッチャ」はデータの変化をトリガーとしたフックである
             非同期などの重い処理を「ウォッチャ」に任せる
             重い処理を任せるので頻度を調整する必要がある
             */
            watch: {

            },
            methods: {

            },
         })

     </script>
</body>
</html>