<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <fieldset>
            <legend>支払い方法</legend>
            クレジットカード:
            <input type="radio" name="pay" id=""
                value="credit"
                v-model="pay"
            >
            銀行振込:
            <input type="radio" name="pay" id="ddd"
                value="bank"
                v-model="pay"

            >
            <hr>
            <!-- keyを入れないと、inputを再利用してしまう！ -->
            <div v-if="pay === 'credit'"> 
                カード番号:
                <input type="text" name="" id=""
                key="bank">
            </div>
            <div v-else-if="pay === 'bank'"> 
                口座番号

                <input type="text" name="" id="aaa"
                key="credit">
            </div>
        </fieldset>
    </div>

     <script>
         new Vue({
             el: '#app',
             data() {
                 return {
                    pay: null
                 }
             },
             computed: {
  
             },
             /*
             「ウォッチャ」はデータの変化をトリガーとしたフックである
             非同期などの重い処理を「ウォッチャ」に任せる
             重い処理を任せるので頻度を調整する必要がある
             */
            watch: {

            },
            methods: {

            },
         })

     </script>
</body>
</html>