<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <!-- 全て共通のv-modelを渡す    ラジオボタン -->
        <form action="">
            <label for="dog">いぬ</label>
            <input type="radio" value="いぬ" id="dog"
                v-model="pet"
            >
            <br>
            <label for="cat">ねこ</label>
            <input type="radio" value="ねこ" id="cat"
                v-model="pet"
            >
            <br>
            <label for="other">その他</label>
            <input type="radio" value="その他" id="other"
                v-model="pet"
            >
        </form>
        <p>{{ pet }}</p>
    </div>

     <script>
         new Vue({
             el: '#app',
             data() {
                 return {
                    pet:null
                 }
             },
             computed: {
  
             },
             /*
             「ウォッチャ」はデータの変化をトリガーとしたフックである
             非同期などの重い処理を「ウォッチャ」に任せる
             重い処理を任せるので頻度を調整する必要がある
             */
            watch: {

            },
            methods: {

            },
         })

     </script>
</body>
</html>